# Ignore common folders and files for Unreal Engine projects
.vs/
Saved/
LocalBuilds/
*.csproj.*
*.pdb
*.suo
*.opensdf
*.sdf
*.tmp
*.mdb
*/obj/*
*.vcxproj
*.sln
*-Debug.*
/FileOpenOrder/
*.xcworkspace
*.xcodeproj
./Makefile
./CMakeLists.txt
.ue4dependencies
.git/*
*.csprojAssemblyReference.cache
*.pdb
*.modules
*.json.modules
*.target
*.response

# Linux Debug Files
*.sym
*.debug

# Ignore common binaries and builds (we DO track Binaries/, only builds outside project if any)
#Binaries/*
Build/*
#Plugins/*/Binaries/*
Plugins/*/Intermediate/*

# Engine intermediates
Engine/Intermediate/*
Intermediate/*

# Intermediate folders for programs should not be checked in
Engine/Programs/*/Intermediate/*

# Intermediate folders created for various C# programs
Engine/Source/Programs/*/obj/*

# Saved folders for programs should not be checked in
Engine/Programs/*/Saved/*
Engine/Programs/UnrealBuildTool/*

# Derived data cache should never be checked in
Engine/DerivedDataCache/*
DerivedDataCache/*

# Ignore any build receipts
Engine/Build/Receipts/*
Build/*/Receipts/*

# Ignore shipping EXE only, keep DLLs
Ship3/Binaries/*-Shipping.exe

# Ignore project-specific binaries for shipping builds

# Ignore personal workspace vars
p4config.txt

# Ignore Unix backup files
*~

# Ignore Mac desktop
